MarkupEditorApp/Resources/markupeditor-markdown.js linguist-generated=true
MarkupEditorApp/Resources/markupeditor-codeview-mermaid.js linguist-generated=true
plugins/markupeditor-exporter-docx/dist/markupeditor-exporter-docx.js linguist-generated=true
